* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    background-color: #FFFFFF;
    margin: 0;
}
.navtop {
    background-color: #3f69a8;
    height: 60px;
    width: 100%;
    border: 0;
    position: fixed;
    z-index: 9999;
}
.navtop div {
    display: flex;
    margin: 0 auto;
    width: 1000px;
    height: 100%;
}
.navtop div h1, .navtop div a {
    display: inline-flex;
    align-items: center;
}
.navtop div h1 {
    flex: 1;
    font-size: 24px;
    padding: 0;
    margin: 0;
    color: #ecf0f6;
    font-weight: normal;
}
.navtop div a {
    padding: 0 20px;
    text-decoration: none;
    color: #c5d2e5;
    font-weight: bold;
}
.navtop div a i {
    padding: 2px 8px 0 0;
}
.navtop div a:hover {
    color: #ecf0f6;
}
.content {
    width: 1000px;
    margin: 0 auto;
    padding: 100px 0;
}
.content h2 {
    margin: 0;
    padding: 25px 0;
    font-size: 22px;
    border-bottom: 1px solid #ebebeb;
    color: #666666;
}
.read .create-contact {
    display: inline-block;
    text-decoration: none;
    background-color: #38b673;
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
    padding: 10px 15px;
    margin: 15px 0;
}
.read .create-contact:hover {
    background-color: #32a367;
}
.read .pagination {
    display: flex;
    justify-content: flex-end;
}
.read .pagination a {
    display: inline-block;
    text-decoration: none;
    background-color: #a5a7a9;
    font-weight: bold;
    color: #FFFFFF;
    padding: 5px 10px;
    margin: 15px 0 15px 5px;
}
.read .pagination a:hover {
    background-color: #999b9d;
}
.read table {
    width: 100%;
    padding-top: 30px;
    border-collapse: collapse;
}
.read table thead {
    background-color: #ebeef1;
    border-bottom: 1px solid #d3dae0;
}
.read table thead td {
    padding: 10px;
    font-weight: bold;
    color: #767779;
    font-size: 14px;
}
.read table tbody tr {
    border-bottom: 1px solid #d3dae0;
}
.read table tbody tr:nth-child(even) {
    background-color: #fbfcfc;
}
.read table tbody tr:hover {
    background-color: #376ab7;
}
.read table tbody tr:hover td {
    color: #FFFFFF;
}
.read table tbody tr:hover td:nth-child(1) {
    color: #FFFFFF;
}
.read table tbody tr td {
    padding: 10px;
}
.read table tbody tr td:nth-child(1) {
    color: #a5a7a9;
}
.read table tbody tr td.actions {
    padding: 8px;
    text-align: right;
}
.read table tbody tr td.actions .edit, .read table tbody tr td.actions .trash {
    display: inline-flex;
    text-align: right;
    text-decoration: none;
    color: #FFFFFF;
    padding: 10px 12px;
}
.read table tbody tr td.actions .trash {
    background-color: #b73737;
}
.read table tbody tr td.actions .trash:hover {
    background-color: #a33131;
}
.read table tbody tr td.actions .edit {
    background-color: #37afb7;
}
.read table tbody tr td.actions .edit:hover {
    background-color: #319ca3;
}
.update form {
    padding: 15px 0;
    display: flex;
    flex-flow: wrap;
}
.update form label {
    display: inline-flex;
    width: 400px;
    padding: 10px 0;
    margin-right: 25px;
}
.update form input {
    padding: 10px;
    width: 400px;
    margin-right: 25px;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
}
.update form input[type="submit"] {
    display: block;
    background-color: #38b673;
    border: 0;
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
    cursor: pointer;
    width: 200px;
  margin-top: 15px;
}
.update form input[type="submit"]:hover {
    background-color: #32a367;
}
.delete .yesno {
    display: flex;
}
.delete .yesno a {
    display: inline-block;
    text-decoration: none;
    background-color: #38b673;
    font-weight: bold;
    color: #FFFFFF;
    padding: 10px 15px;
    margin: 15px 10px 15px 0;
}
.delete .yesno a:hover {
    background-color: #32a367;
}
.success-registration{
  text-align: center;
  color: red;
  font-size: 2rem;
}
.login-card{
    width: 320px;
   padding: 5px;
      margin: auto;
    transform: translate(50%, 50%);
     overflow: hidden;
     box-shadow: rgb(90 81 81 / 25%) 0px 54px 55px, rgb(231 201 201 / 12%) 0px -12px 30px, rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px, rgb(191 153 153 / 9%) 0px -3px 5px;
  }
  .App{
    position: absolute;
    transform: translate(75%, 0);
    top: 0;
    bottom: 0;
    left: 20%;
  }
  .border-style{
    /* background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); */
    background-image: linear-gradient(
  315deg, #89ff00, #00bcd4);
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    margin-right: 25%;
    right: 0;
   
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
      /* .border-style{
        animation: App-logo-spin infinite 20s linear;
      } */
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .login-form{
    z-index: 1;
    font-size: 1.2rem;
    font-family: "Poppins", sans-serif;
    background-color: #fff;
    position: relative;
    padding: 25px;
  }
  .login-form input{
        padding: 15px;
        border-radius: 25px;
        border: 1px solid #ccc;
        width: -webkit-fill-available;
        margin-bottom: 0px;
        font-family: "Poppins",sans-serif;
      font-weight: 700;
  }
  .login-logo img{
    height: 80px;
  }
  .login-logo{
    text-align: center;
  }
  .login-form .input-group{
    padding: 15px 0px;
  }
  .login-form .register-btn{
    background: #060c21;
  }
  .login-form .login-btn{
    background: linear-gradient(
      315deg, #ff0057, #e64a19);
  }
  .login-form .login-btn,.login-form .register-btn{
    padding: 15px;
    border-radius: 25px;
    border: 1px solid #ccc;
    width: -webkit-fill-available;
    margin-bottom: 10px;
  
      color: #fff;
      font-size: 1rem;
      font-weight: 700;
  }
  .login-btn-holder{
    font-size: 1.2rem;
    text-align: center;
  }
  .login-btn-holder p{
    font-size: 0.8rem;
    text-align: center;
  }
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  .input-group input{
    border-radius:25px !important;
  }
  #post-modal{
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100vh;
    padding: 50px;
    margin: 0;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    background: #0000003d;
  }
  .comment-msg{
    background: #eee;
    padding: 10px;
    border-radius: 25px;
  }
  .delete-post{
    text-align: right;
    color: #931616;
  }
  .delete-post i{
    font-size: 1.5rem;
  }
  .post-header{
    display: flex;
    justify-content: space-between;
  }
  .author{
    background: #0aa7af;
    padding: 10px;
    border-radius: 25px;
    font-size: 0.8rem;
    color: white;
  }